/* Reset básico */
body, h1, h2, p, textarea, input, pre, footer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Fundo escuro */
    color: #A9A9A9; /* Cor secundária - Cinza Claro */
}

header {
    background: #4A4A4A; /* Cor primária - Cinza Escuro */
    color: #FFFFFF; /* Texto branco */
    padding: 1em;
    text-align: center;
}

/* Estilização da seção de introdução */
.intro-section {
    background-color: #1C1C1C; /* Fundo escuro */
    color: #FFFFFF; /* Texto branco em contraste */
    display: flex; /* Usar Flexbox */
    align-items: center; /* Alinhar verticalmente */
    padding: 50px 20px;
    justify-content: center; /* Alinhar conteúdo ao centro */
}

.intro-section .logo {
    max-width: 150px;
    margin-right: 20px; /* Espaçamento à direita da imagem */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra suave */
    transition: transform 0.3s ease; /* Transição suave para transformações */
}

.intro-section .logo:hover {
    transform: scale(1.05); /* Aumenta a imagem em 5% ao passar o mouse */
}

.text-container {
    display: flex;
    flex-direction: column; /* Organizar h1 e p em coluna */
    align-items: center; /* Centralizar h1 e p em relação um ao outro */
}


.intro-section h1 {
    font-size: 2rem; /* Ajustar o tamanho do título se necessário */
    margin-right: 10px; /* Espaçamento entre o título e o parágrafo */
}

.intro-section p {
    font-size: 1.5rem;
    margin-bottom: 0; /* Remover a margem inferior */
}


main {
    padding: 1em;
}

form section {
    margin-bottom: 1em;
}

h2 {
    margin-bottom: 0.5em;
}

label {
    display: block;
    margin: 0.5em 0 0.2em;
}

textarea, input[type="text"] {
    width: 100%;
    box-sizing: border-box; /* Inclui padding e borda no cálculo da largura */
    padding: 0.5em;
    border: 1px solid #00BFFF; /* Azul Claro (Cor de Acento) */
    border-radius: 4px;
}

textarea {
    overflow: hidden; /* Esconde a barra de rolagem */
    resize: vertical;
    min-height: 50px; /* Altura mínima do textarea */
    white-space: pre-wrap; /* Preserva quebras de linha */
    word-wrap: break-word; /* Quebra palavras longas */
}


/* Adiciona uma classe para inputs que precisam de ajuste automático */
.auto-expand {
    overflow: hidden; /* Esconde a barra de rolagem */
}

pre {
    background: #00BFFF; /* Azul Claro (Cor de Acento) */
    padding: 1em;
    border-radius: 4px;
}

button {
    background: #4A4A4A; /* Cor Primária - Cinza Escuro */
    color: #FFFFFF; /* Texto branco */
    border: none;
    padding: 0.5em 1em;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #3C3C3C; /* Escurecer a cor primária ao passar o mouse */
}

aside {
    position: fixed;
    top: 1em;
    right: 1em;
}

#info-content {
    display: none;
    background: #FFFFFF; /* Cor de fundo */
    border: 1px solid #00BFFF; /* Azul Claro (Cor de Acento) */
    border-radius: 4px;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#info-btn {
    background: #28a745; /* Verde */
    border: none;
    color: #FFFFFF; /* Texto branco */
    padding: 0.5em;
    border-radius: 20%;
    cursor: pointer;
}

#info-close {
    background: #dc3545; /* Vermelho */
}

footer {
    background: #4A4A4A; /* Cor primária - Cinza Escuro */
    color: #FFFFFF; /* Texto branco */
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0.5em;
    font-size: 1rem;
}

footer .footer-content a {
    color: #FFFFFF; /* Texto branco */
    text-decoration: none;
    margin: 0 0.5em;
}

footer .footer-content a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    button {
        width: 100%;
    }

    footer {
        padding: 0.5em 0;
    }

    footer p {
        font-size: 0.9rem;
    }

    footer .footer-content a {
        margin: 0 0.3em;
    }
}
